.profile-img-large {
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease; 
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; 
}
